 
.infoWrapper{
    width:100%;
    font-family: "League Spartan";

}


.infoLabel{
    font-weight: bold;
    font-family: "League Spartan";
   

}

.modal{
    padding-left:0px;
}

.autoBox{
    /* background-color: lightblue; */
    height: 100px;
    /* width: 740px;   */
    overflow-y: auto;
    min-width: 10vh;
    /* min-height:fit-content  */
}

.infoLabel >span{
    font-weight: normal;
    margin-left:10px;
    font-family: "League Spartan";
}

.infoTitle{
    width:100%;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    font-family: "League Spartan";
}

.infoPrice{
    color: black;
    text-align: center;
    font-size: 1.3rem;
    font-family: "League Spartan";
}


.infoImage{
    width:100%;
     /* width:400px;
    height:240px;  */
    overflow: hidden;
    margin: 0 auto;
}

.infoImage img {
    /* width: 100%; */
    /* width: 100px;
    height:390px; */
    margin:auto;
    width:auto;
    transition: 0.5s all ease-in-out;
    
}

.infoImage:hover img {
    transform: scale(1.5);
}

/* .postComment{
    border-radius: 24px;
    padding: 8px 30px;
    font-size: 16px;
    background-color:#212529;
    
    font-family:'League Spartan';
} */



/* 
@media (min-width: 360px){

 


} */



/* 
@media only screen  and (min-width: 291px) and  (max-width: 768px)  { 
    .infoImage img {
        width: 100%;
        height:230px;
     
        transition: 0.5s all ease-in-out;
        
    }
} */




/* @media only screen and  (max-width: 290px) { 
    .infoImage img {
        width: 100%;
        height:150px;
    
        transition: 0.5s all ease-in-out;
        
    }
} */