
.infoWrapper{
    width:100%;
    font-family: "League Spartan";

}


.infoLabel{
    font-weight: bold;
    font-family: "League Spartan";
   

}

.autoBox{
    /* background-color: lightblue; */
    height: 100px;
    width: 743px;  
    overflow-y: auto;
}

.infoLabel >span{
    font-weight: normal;
    margin-left:10px;
    font-family: "League Spartan";
}

.infoTitle{
    width:100%;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    font-family: "League Spartan";
}

.infoPrice{
    color: black;
    text-align: center;
    font-size: 1.3rem;
    font-family: "League Spartan";
}


.infoImage{
    width:100%;
    overflow: hidden;
    margin: 0 auto;
}

.infoImage img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    
}

.infoImage:hover img {
    transform: scale(1.5);
}



@media(min-width: 0px) and  (max-width:50px) {

    .autoBox{
        /* background-color: lightblue; */
        height: 100px;
        width: 30px;  
        overflow-y: auto;
    }


}

@media (min-width: 360px) and (max-width: 600px){

    .autoBox{
        /* background-color: lightblue; */
        height: 100px;
        width: 285px;  
        overflow-y: auto;
    }


}


@media (min-width: 601px) and (max-width: 999px){

    .autoBox{
        /* background-color: lightblue; */
        height: 100px;
        width: 445px;  
        overflow-y: auto;
    }


}

@media (min-width: 1000px){

    .autoBox{
        /* background-color: lightblue; */
        height: 100px;
        width: 743px;  
        overflow-y: auto;
    }


}



/* 
@media (min-width: 360px){

 


} */