body {
    padding: 0;
    margin: 0;
    /* background-color: #ebd8b8; */
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 0.75rem;   
  }
  


  #main {
  
    background-color: #212529;
    padding: 0px;
    padding-bottom: 0px;
    margin:  0;
    
  }

  #main .nav-tab{
    text-decoration: none;
    display:inline-block;
    color: white;
    padding: 8px;
    font-family:'League Spartan';
    font-size: 1.2rem;
  }

.nav-link{
  text-align: center;
  /* color:grey! important; */
  /* font-size:14px;
  font-weight:300 */
}
.nav-bar {
  margin-left: 18px
}

#nav-button{
  margin-right: 20px;
  color: white;
  background-color :white;
      
}

#ref {
  background-image: url(../public/bar_soap.jpg);
  background-image: cover;
  height: 495px;
  position: relative;
}

.AddForm{
  margin-left: 13px;
  text-align : center
}


.item{
  /* height:400px; */
  width:320px;
  position:relative

}

#cta {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height:100px;
  border-radius: 12px;
  background-color: rgba(26, 13, 13, 0.46);
  text-align:center;
  transform: translate(-50%, -50%);
  border:1px black solid;
  padding-top:20px;
}

#cta a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family:'League Spartan';
}

#about {
  background-image:url(../public/bar_soap.jpg);
  /* width: 100%;
  height: 150vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  margin: 0;  
  padding: 0px;
  
}

.formNames{
  font-family:'League Spartan';


}


.displayCards{
  background-color: transparent;
  /* background-color: #ebd8b8; */
  height:36%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:white
}

.cardSize{
  height:70px;
  width: 70px;

}
#about .content {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px; 
}

#about .content h1 {
  color: white   ;
  font-family:'League Spartan';
  /* padding-left: 1em; */
  margin-left:10px;
  font-size:1.2rem;
  padding: 8px;
  text-align: center;
}
.AddBtn{

  border-radius: 24px;
  padding: 5px 30px;
  font-size: 14px;
  background-color:#212529;
 justify-content: center;
 font-family:'League Spartan';

  

}
.deleteBtn{
  position:absolute;
  top:4px;
  right:12px;
  color:rgba(232, 220, 220, 0.5)
}
.deleteBtn:hover{

  color:grey
}

.addbg{
  height: 320px;
  /* background-repeat: no-repeat; */
  background-image: fit-content;
  /* background-size: contain; */
  /* background-size: fit-content; */
  /* background-attachment: fixed; */
  /* margin: 0; 
  padding: 0px; */
  /* overflow-x: hidden !important; */
  /* margin-right: 200px;  */
}

.listlogo{
    
  height: 80px;
  width : 180px
}


.noSearchLabel{
  width:100%;
  font-size:1.3rem;
  color:crimson;
  font-weight: bold;
  text-align: center;
  font-family:'League Spartan';
}

.footer{
  
  position:absolute;
  bottom:0px;
  text-align: center;
  height:0.75rem; 
}

.copyright{
  font-size:0.7rem;
}

/* // tablet */
@media only screen and  (min-width: 600px) { 

body {
padding: 0;
margin: 0;
/* background-color: #ebd8b8; */
}

#page-container {
position: relative;
min-height: 100vh;
}

/* #content-wrap {
padding-bottom: 3rem;   
} */



#main {

background-color: #212529;
padding: 0px;
padding-bottom: 0px;
margin:  0;

}

#main .nav-tab{
text-decoration: none;
display:inline-block;
color: white;
padding: 8px;
/* font-family:Jost, sans-serif; */
font-family:'League Spartan';
font-size: 1.2rem;
}

.nav-link{
text-align: center;
/* color:grey! important; */
/* font-size:14px;
font-weight:300 */
}
.nav-bar {
  margin-left: 18px
}

#nav-button{
margin-right: 20px;
color: white;
background-color :white;
  
}

#ref {
background-image: url(../public/bar_soap.jpg);
background-image: cover;
height: 495px;
position: relative;
}

.AddForm{
margin-left: 13px;
text-align : center
}

#cta {
position: absolute;
top: 50%;
left: 50%;
width: 200px;
height:100px;
border-radius: 12px;
background-color: rgba(26, 13, 13, 0.46);
text-align:center;
transform: translate(-50%, -50%);
border:1px black solid;
padding-top:20px;
}

#cta a{
text-decoration: none;
color: white;
font-size: 20px;
font-family:'League Spartan';
}

#about {
background-image:url(../public/bar_soap.jpg);
/* width: 100%;
height: 150vh; */
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; 
margin: 0;  
padding: 0px;

}

.formNames{
  font-family:'League Spartan';


}


.displayCards{
background-color: transparent;
/* background-color: #ebd8b8; */
height:36%;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color:white
}

.cardSize{
height:70px;
width: 70px;

}
#about .content {
background-color: rgba(0,0,0,0.5);
height: 100%;
width: 100%;
margin: 0;
padding: 0px; 
}

#about .content h1 {
color: white   ;
font-family: Jost, sans-serif;
/* padding-left: 1em; */
margin-left:10px;
font-size:1.2rem;
padding: 8px;
text-align: center;
}
.AddBtn{

border-radius: 24px;
padding: 5px 30px;
font-size: 14px;
background-color:#212529;
justify-content: center;
font-family:'League Spartan';



}

.deleteBtn{
  position:absolute;
  top:4px;
  right:12px;
  color:rgba(232, 220, 220, 0.5)
}
.deleteBtn:hover{

  color:grey
}

.listlogo{
    
  height: 80px;
  width : 180px
}


.footer{

position:absolute;
bottom:0px;
text-align: center;
height:0.75rem; 
}

.copyright{
font-size:0.7rem;
}

.noSearchLabel{
  width:100%;
  font-size:2rem;
  color:crimson;
  font-weight: bold;
  text-align: center;
  font-family:'League Spartan';
}
}























@media (min-width: 768px){
  body {
      padding: 0;
      margin: 0;
      /* background-color: #ebd8b8; */
      overflow-x: hidden !important;
 
    }


    #page-container {
      position: relative;
      min-height: 100vh;
    }
    
    #content-wrap {
      padding-bottom: 2.5rem;   
    }
    
    
    #main {
      background-color: #212529;
      padding: 5px;
      /* padding-bottom: 0px; */
      margin:  0;
      
    }
    .nav-bar {
      margin-left: 18px
    }

    .nav-tab{
      /* display: inline-block;
      justify-content: end; */
     margin-left: 10px;
     margin-right: 40px;
      
    }

   
    
    #main .nav-tab{
      text-decoration: none;
      display:inline-block;
      color: white;
      padding: 8px;
      font-family:'League Spartan';
      font-size: 1.1rem;
    }
    
    #main .nav-tab:hover {
       color:grey;
    }
    
    #ref {
      background-image: url(../public/bar_soap.jpg);
      width: 100%;
      height: calc(100vh - 150px); 
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    .AddForm{
      margin-left: 13px;
      text-align : center
    }

    .item{
      /* height:150px; */
      width:300px;
      position:relative
    
      
    }

    #cta {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 280px;
      height:140px;
      border-radius: 12px;
      background-color: rgba(26, 13, 13, 0.46);
      text-align:center;
      transform: translate(-50%, -50%);
      border:1px black solid;
      padding-top:20px;
    }
    
    #cta a{
      text-decoration: none;
      color: white;
      font-size: 32px;
      font-family:'League Spartan';
    }
    
    
    .formNames{
      font-family:'League Spartan';


    }
   
    .cardSize{
      height:80px;
      width: 80px;
  
    
    }

    .displayCards{
      background-color: transparent;
      /* background-color: #ebd8b8; */
      height: 19rem;
      width: 18rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color:white
      
    }

    #about {
      background-image:url(../public/bar_soap.jpg);
      width: 100%;
      /* height: 80vh; */
      /* height: calc(100vh - 150px); */
      height: max(90vh, fit-content);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      margin: 0; 
      padding: 0px;
      text-align: center;
      
    }
    
    #about .content {
      background-color: rgba(0,0,0,0.5);
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0; /* margin collapse! */
    }
    
    #about .content h1 {
      color: white   ;
      font-family:'League Spartan';
      padding: 12px;
      font-size:2rem;
      text-align: center;
    }
  .AddBtn{

      border-radius: 24px;
      padding: 5px 30px;
      font-size: 14px;
      background-color:#212529;
      /* align-content: center;
      display: flex; */
      font-family:'League Spartan';
      
  
  }

  .deleteBtn{
    position:absolute;
    top:4px;
    right:12px;
    color:rgba(232, 220, 220, 0.5)
  }
  .deleteBtn:hover{
  
    color:grey
  }

  .listlogo{
    
    height: 80px;
    width : 180px
  }

  .addbg{
    height: 590px;
    /* background-repeat: no-repeat; */
    background-image: fit-content;
    /* background-size: contain; */
    /* background-size: fit-content; */
    /* background-attachment: fixed; */
    /* margin: 0; 
    padding: 0px; */
    /* overflow-x: hidden !important; */
    /* margin-right: 200px;  */
  }

    .footer{
     position:absolute;
     bottom:0px;
     text-align: center;
     height: 2.5rem;  

    }

    .copyright{
      font-size:1rem;
    }
  }